VITE_FIREBASE_API_KEY=AIzaSyDXbocNZgJVgXnnJ-lejxJnGzZV6Ukw8ms
VITE_FIREBASE_AUTH_DOMAIN=formflow-ea47d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=formflow-ea47d
VITE_FIREBASE_STORAGE_BUCKET=formflow-ea47d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=176522346734
VITE_FIREBASE_APP_ID=1:176522346734:web:bc57b2a1d77409cfec73ff
VITE_FIREBASE_MEASUREMENT_ID=G-RGZSYHVR0Y
